[Unit]
Description=Nimbus Consensus Layer Client
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ nimbus_cl_system_user }}
Group={{ nimbus_cl_system_user }}
Restart=on-failure
RestartSec=10
KillSignal=SIGINT
TimeoutStopSec=900
StandardOutput=append:{{ nimbus_log_dir }}/{{ nimbus_cl_log_file }}
StandardError=journal
ExecStart={{ nimbus_cl_bin_dir }}/nimbus_beacon_node \
    --network="{{ network }}" \
    --data-dir="{{ nimbus_cl_data_dir }}" \
    --tcp-port={{ nimbus_ext_tcp_port }} \
    --udp-port={{ nimbus_ext_udp_port }} \
{% if nimbus_ext_ip | length > 0 %}
    --nat=extip:{{ nimbus_ext_ip }} \
{% endif %}
    --el={{ el_http }} \
    --doppelganger-detection=off \
    --non-interactive=true \
    --enr-auto-update=true \
    --listen-address="0.0.0.0" \
    --rest=true \
    --rest-address="{{ server_ip }}" \
    --rest-port={{ nimbus_cl_rest_port }} \
    --node-name="{{ nimbus_cl_node_name }}" \
    --metrics=true \
    --metrics-address={{ nimbus_cl_metrics_address }} \
    --metrics-port={{ nimbus_cl_metrics_port }} \
    --max-peers={{ nimbus_max_peers }} \
    --hard-max-peers={{ nimbus_hard_max_peers }} \
{% if fee_recipient_wallet_address | length > 0 %}
    --suggested-fee-recipient={{ fee_recipient_wallet_address }} \
{% endif %}
    --jwt-secret={{ nimbus_jwt_secret_path }} \
    --subscribe-all-subnets \
    --log-level="{{ nimbus_log_level }}" \
    --log-format=json \
    --suggested-gas-limit=60000000

[Install]
WantedBy=multi-user.target
