[Unit]
Description=Nimbus Validator Client service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{nimbus_validator_system_user}}
Group={{nimbus_validator_system_user}}
Restart=on-failure
RestartSec=5
KillSignal=SIGINT
TimeoutStopSec=900
StandardOutput=append:{{ nimbus_log_dir }}/{{ nimbus_validator_log_file }}
StandardError=journal
ExecStart={{ nimbus_validator_bin_dir }}/nimbus_validator_client \
    --data-dir="{{ nimbus_validator_data_dir }}" \
    --validators-dir="{{ nimbus_validator_validators_dir }}" \
    --secrets-dir="{{ nimbus_validator_secrets_dir }}" \
    --beacon-node=http://{{ localhost_ip }}:{{ nimbus_cl_rest_port }} \
{% if fee_recipient_wallet_address | length > 0 %}
    --suggested-fee-recipient={{ fee_recipient_wallet_address }} \
{% endif %}
    --graffiti="{{ nimbus_validator_graffiti }}" \
    --doppelganger-detection=off \
    --log-level="{{ nimbus_log_level }}" \
    --log-format=json 

[Install]
WantedBy=multi-user.target
