#!/usr/bin/env bash
set -e

USER='{{ nimbus_cl_system_user | mandatory }}'
PATH='{{ nimbus_cl_binary_path | mandatory }}'
DATA_DIR='{{ nimbus_cl_data_dir | mandatory }}'
NETWORK='{{ network | mandatory }}'
TRUSTED_NODE_URL='{{ nimbus_checkpoint_sync_url | mandatory }}'

"${PATH}" \
    trustedNodeSync \
    --network="${NETWORK}" \
    --data-dir="${DATA_DIR}" \
    --trusted-node-url="${TRUSTED_NODE_URL}"
