# {{ ansible_managed }}
Include /etc/ssh/sshd_config.d/*.conf

Port 22
LoginGraceTime 60s
PermitRootLogin no
StrictModes yes
MaxAuthTries 6
PubkeyAuthentication yes
AuthorizedKeysFile %h/.ssh/authorized_keys %h/.ssh/authorized_keys2
PasswordAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no
UsePAM no
Subsystem sftp internal-sftp
